*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a img{
    width: 130px;
}


.text{
    font-size: 70%
}

.nav-item:hover .nav-link {
    color: yellow;
}

.content{
   
    width: 100%;
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    padding: 10% 0;
   
}

.content img{
    width: 100%;
    object-fit: cover;
    height: 700px
}

.font-italic{
    color: white;
    font-size: 3rem;
}

.text-center h1{
    color: white;
    font-size: 5.5rem;
    padding-bottom: 7%;
}

.content .container a{
    text-decoration: none;
    color: white;
    background-color: #ffc800;
    padding: 2% 2%;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 700;
}

.content .container a:hover{
    background-color: #cca000;
}

.container .text-center{
    padding-top: 17%;
}

#section1 h2{
    font-size: 3rem;
    font-weight: 700;
}

#section1{
    background-color: white;
}

.row{
    text-align: center;
    margin-bottom: 7%;
}

.fa-cart-shopping{
    color: white;
    background-color: #ffc800;
    padding: 10% 10%;
    font-size: 4rem;
    border-radius: 70px;
}

.fa-laptop{
    color: white;
    background-color: #ffc800;
    padding: 10% 9%;
    font-size: 4rem;
    border-radius: 70px;
}

.fa-lock{
    color: white;
    background-color: #ffc800;
    padding: 10% 12%;
    font-size: 4rem;
    border-radius: 70px;
}

.row h3{
    padding-top: 5%;
    font-weight: 700;
}

.gray .row{
    margin: 0;
}
.gray{
    width: 100%;
    background-color:#EEEEEE	;
    padding-bottom: 70px;
}

#section1{
    text-align: center;
    padding: 5% 0;
    background-color: white;
}

#section3{
    text-align: center;
    padding: 5% 0;
    background-color: white;
}

#section4{
    text-align: center;
    padding: 5% 0;
}

#section4 h2{
    font-size: 3rem;
    font-weight: 700;
}
#section3 h2{
    font-size: 3rem;
    font-weight: 700;
    
}

#section2 h2{
    font-size: 3rem;
    font-weight: 700;
}

#section2{
    text-align: center;
    padding: 5% 0;
  
}



.product .font-italic{
    color: #888888	;
    font-size: 1rem;
    font-weight: 500;

}
.product{
    position: relative;
}
.product p{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.fa-plus{
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 0%;
    font-size: 2rem;
    padding: 33% 0;
    transition: opacity linear 0.25s ;
    background-color: rgba(255, 200, 0, 0.9);
    opacity: 0;

}

.product .picture:hover .fa-plus{
    display: initial;
    opacity: 1;
    cursor: pointer;
}

.product .picture img{
    width: 100%;
    
}

.brand{
    background: white;
    padding: 5% 0;
}

.timeline{
    text-align: end;
    width: 40%;
    display: inline-block;
    float: left;
}

.box-img{
    width: 15%;
    border-radius: 100%;
    border: 6px solid #ccc;
    
    position: absolute;
    right: 43%;
    top: 8%;
    background-color: #ffc800;
}
.container ul li img{
    width: 100%;
    border-radius: 100%;
}
.container ul li:nth-child(2) .timeline{
    float: right;
    text-align: left;
}

.container ul li:nth-child(4) .timeline{
    float: right;
    text-align: left;

}

.historic{
    list-style: none;
    width: 100%;
    display: inline-block;
    position: relative;
}



.container .historic::before{
    content: "";
    width: 2.5px;
    background-color: #ccc;
    height: 88.05%;
    display:inline-block;
    position: absolute;
    right: 50%;
    top: 5.05%;
}
.timeline-img{
    width: 100%;
}

.sub-li{
    padding-bottom: 10%;
    float: left;
    position: relative;
}
.timeline-message{
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffc800;
   
    position: absolute;
    bottom: 0;
    right: 42.5%;
    padding: 2% 4%;
}

.timeline-message p{
   
    font-size: 1.5vw;
    margin-bottom: 0;
}

.timeline p{
    font-size: 1rem;
}
.timeline h4{
    font-size: 2rem;
    font-weight: 700;
}

.circle{
    background-color: #ffc800;
    padding: 15% 0%;
    border-radius: 100%;
    border:6px solid #ccc;
}

.circle p{
    margin: 0;
    font-size: 120%;
    font-weight: 600;
    color: white;
}


.personal-img{
    width: 100%;
}

.personal-img img{
    width: 70%;
    border-radius: 100%;
    border: 10px solid #ccc;
}

.name{
    padding-bottom: 5%;
}
.name p{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.name span{
    font-size: 1rem;
    color: #888888;
    font-family: 'Times New Roman', Times, serif;
}

.icon a{
    text-decoration: none;
}
.fa-twitter{
    color: white;
    background-color: black;
    padding: 3% 3%;
    border-radius: 100%;
}

.fa-facebook-f{
    color: white;
    background-color: black;
    padding: 3% 4%;
    border-radius: 100%;
    margin: 0 7%;
}

.fa-linkedin-in{
    color: white;
    background-color: black;
    padding: 3% 3%;
    border-radius: 100%;
}

.describe{
    text-align: center;
    
}

.describe p{
    padding: 0 15%;
    color: #6c757d;
}

.social{
    background-color: white;
    width: 100%;
}

.social .container .row .col-md-3 a img{
    width: 100%;
    height: 70%;
    padding-top: 20%;
}

#section5{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    backdrop-filter: brightness(0.1);

}

#section5 .container h2{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

#section5 .container p{
    text-align: center;
}

.form-group input{
    height: 60px;
    font-weight: 700;

  
}

.message {
    height: 87%;
}

.message input{
    padding: 19.5% 2%;
    font-weight: 700;
}

.send{
    text-align: center;
    margin-top: 8%;
}
.col-sm-12{
    margin-bottom: 10%;
}
.send a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #cca000;
    padding: 2% 2%;
    border-radius: 10px;
    filter: opacity(0.5);
}

.send a:hover{
    background-color: #ffc800;
    filter: none;
}

.col-md-4 .footer{
    text-decoration: none;
    color: black;
}

.navbar-dark .navbar-nav .nav-link.active{
    color:#cca000;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #cca000;
}

.col-sm-6{
    margin-bottom: 1.5rem;
}

@media only screen and (max-width:780px){
    .historic{
        list-style: none;
        width: 100%;
        display: inline-block;
        position: relative;
    }

    .sub-li{
        padding-bottom: 10%;
        float: left;
        position: relative;
    }

    .timeline{
        float: right;
        text-align: left;
        width: 80%;
    }

    .box-img{
        left: 0;
    }

    .historic::before{
        left: 8%;
    }
    .timeline-message{
        left: 0;
        width: 16%;
        padding: 2%;
    }   
}
   